bridal_salon {
    display: inline-block;
    background: url('bg.png');
    background-size: contain;
    font-family: Helvetica
}

collections {
    display: inline-block;
    list-style-image: none;
}

collection>designer_name {
    flex-basis: 80px;
    text-align: center;
}

collection::before {
    content: url('default.png');
    padding: 20px;
    text-align: center;
}

collection[season="Wiosna"]:hover::before {
    content: url('spring.png');
    padding: 20px;
    text-align: center;
}

collection[season="Lato"]:hover::before {
    content: url('summer.png');
    padding: 20px;
    text-align: center;
}

collection[season="Jesien"]:hover::before {
    content: url('fall.png');
    padding: 20px;
    text-align: center;
}

collection[season="Zima"]:hover::before {
    content: url('winter.png');
    padding: 20px;
    text-align: center;
}

[name]:after {
    padding: 15px;
    content: attr(name);
}

collection {
    text-decoration-color: aqua;
    background-color: snow;
    border-color: deeppink;
    border-style: double;
    display: grid;
    margin: 30px;
}

description {
    text-align: center;
    font-style: italic;
    padding: 15px;
}

dresses {
    display: inline-block;
    text-align: center;
}

dress {
    background-color: snow;
    border-color: #1e0015;
    border-style: solid;
    margin: 30px;
    padding: 20px;
    display: inline-grid;
    border-radius: 50px 15px;
    text-align: center;
}

name {
    color: #6e0b48;
    text-shadow: 2px 2px 4px #9d5ec2;
    padding: 5px;
    text-align: center;
}

silhouette:before {
    padding: 5px;
    content: "ksztalt: ";
    text-transform: uppercase;
}

neckline:before {
    content: "dekolt: ";
    padding: 5px;
    text-transform: uppercase;
}

length:before {
    content: "dlugosc: ";
    padding: 5px;
    text-transform: uppercase;
}